<h1>Pages#home</h1>
<p>Find me in app/views/pages/home.html.erb</p>


<img src="<%= asset_pack_path 'media/images/logo.svg' %>" />
<img src="<%= asset_pack_path 'media/images/image.jpg' %>" />
<img src="<%= asset_pack_path 'media/images/loading.gif' %>" />
